body {
  margin: 0;
  font-family: 'Segoe UI', sans-serif;
  background-color: #F9F5ED;
  color: #3B2E26;
}

.form-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  padding: 2rem;
  background-color: #F9F5ED;
}

.project-name {
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 0.5rem;
  color: #24160E;
}

h2 {
  margin-bottom: 2rem;
  color: #3B2E26;
}

input {
  width: 100%;
  max-width: 400px;
  padding: 0.75rem;
  margin-bottom: 1rem;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 1rem;
  background-color: #fff;
}

.login-btn {
  width: 100%;
  max-width: 400px;
  padding: 0.75rem;
  background-color: #7E6A52;
  color:#3B2E26;
  border: none;
  border-radius: 5px;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.btn:hover {
  background-color: #6e5c45;
}

.muted-text {
  margin-top: 1rem;
  color: #6E615B;
  font-size: 0.9rem;
  text-align: center;
}

.link {
  color: #7E6A52;
  cursor: pointer;
  text-decoration: underline;
}

.link:hover {
  color: #6e5c45;
}

.login-box{
      background-color: white;
    padding: 40px;
}
